body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 12pt;
    font-weight: 400;
}

#adivinhar {
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px;
}

button {
    font-size: 12pt;
}