body {
    font: 12pt arial;
}

h1, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

input[type="number"] {
    font-size: 12pt;
}

input[type="submit"] {
    background-color: green;
    color: white;
    font-size: 12pt;
    padding: 5px;
}